body{
    background-color: black;
    
    }
    
    ::selection {
        background-color: white;
        color: blue;}
    
    
    
        
    
    .card-container1 {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .card1 {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 21vh;
        left: 12.5vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .card1:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .front1,
      .back1 {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .front1 {
        background-color: #efe7ff;
      }
      
      .back1 {
        background-color: #000000;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
    
    
    
      .card-containerA {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .cardA {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 21vh;
        left: 23vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .cardA:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .frontA,
      .backA {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .frontA {
        background-color: #efe7ff;
      }
      
      .backA {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
      .card-container2 {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .card2 {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 21vh;
        left: 33.5vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .card2:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .front2,
      .back2 {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .front2 {
        background-color: #efe7ff;
      }
      
      .back2 {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
    
      .card-containerB {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .cardB {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 21vh;
        left: 44vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .cardB:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .frontB,
      .backB {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .frontB {
        background-color: #efe7ff;
      }
      
      .backB {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
    
      .card-containerC {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .cardC {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 21vh;
        left: 54.5vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .cardC:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .frontC,
      .backC {
        width: 100%;
        height:100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .frontC {
        background-color: #efe7ff;
      }
      
      .backC {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
    
      /*end of row 1*/
    
    
    
      .card-container3 {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .card3 {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 21vh;
        left: 75.5vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .card3:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .front3,
      .back3 {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .front3 {
        background-color: #efe7ff;
      }
      
      .back3 {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
      .card-containerD {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .cardD {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 21vh;
        left: 65vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .cardD:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .frontD,
      .backD {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .frontD {
        background-color: #efe7ff;
      }
      
      .backD {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
    
      .card-containerE {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .cardE {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 57vh;
        left: 23vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .cardE:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .frontE,
      .backE {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .frontE {
        background-color: #efe7ff;
      }
      
      .backE {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
    
      .card-container4 {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .card4 {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 57vh;
        left: 12.5vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .card4:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .front4,
      .back4 {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .front4 {
        background-color: #efe7ff;
      }
      
      .back4 {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
    
     .card-containerF {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .cardF{
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 57vh;
        left: 33.5vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .cardF:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .frontF,
      .backF{
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .frontF {
        background-color: #efe7ff;
      }
      
      .backF {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
      .card-containerG {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .cardG{
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 57vh;
        left: 44vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .cardG:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .frontG,
      .backG{
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .frontG {
        background-color: #efe7ff;
      }
      
      .backG {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
      .card-containerH {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .cardH {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 57vh;
        left: 54.5vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .cardH:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .frontH,
      .backH {
        width: 100%;
        height:100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .frontH {
        background-color: #efe7ff;
      }
      
      .backH {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
    
    
      .card-containerI {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .cardI {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 57vh;
        left: 65vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .cardI:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .frontI,
      .backI {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .frontI {
        background-color: #efe7ff;
      }
      
      .backI {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
    
    
    
    
      .card-container5 {
        perspective: 10000px; /* Adds 3D effect */
      }
      
      .card5 {
        width: 10vw;
        height: 35vh;
        position: absolute;
        top: 57vh;
        left:75.5vw;
        transform-style: preserve-3d;
        transition: transform 1s;
      }
      
      .card5:hover {
        transform: rotateY(180deg); /* Flips the card on hover */
      }
      
      .front5,
      .back5 {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden; /* Prevents content from being visible when flipped */
      }
      
      .front5 {
        background-color: #efe7ff;
      }
      
      .back5 {
        background-color: black;
        transform: rotateY(180deg); /* Initially hidden, flipped to the back */
        text-align: left;
        color: #ffffff;
        padding-left: 6%;
        padding-top: 10%;
        padding-right: 5%;
        padding-bottom: 5%;
        line-height: 23px;
        font-weight: 200;
        font-size: 15px;
        font-family:"Open Sans", sans-serif;
        letter-spacing: 1px;
        overflow: scroll;
      }
      .margin{
        width: 80%;
        height: 7%;
        background-color: rgb(0, 0, 0);
        display: flex;
        position: absolute;
        z-index: 10;
    }
    
    
    .Name{
        color: white;
        position: absolute;
        top: 2%;
        right: 13%;
        width: 30%;
        font-size: 13px;
        font-family:"Open Sans", sans-serif;
        text-align: right;
        z-index: 10;
        letter-spacing: 3px;
        text-decoration: none;
        transition: color .3s ease;
    }
    .Name:hover{
        color: black;
    }
    
    .Title{
        color: white;
        text-align: left;
        position: absolute;
        left: 3%;
        width: 30%;
        top: 2%;
        font-size: 13px;
        font-family:"Open Sans", sans-serif;
        z-index: 10;
        letter-spacing: 3px;
        text-decoration: none;
        transition: color .3s ease;
    }
    .Title:hover{
        color: black;
    }
    
    
    
    .rightMargin{
        position: absolute;
        background-color: rgb(0, 0, 0);
        top: 0%;
        bottom: 0;
        width: 10%;
        right: 0;
        display: grid;
        align-items: center;
        grid-template-rows: 10% 22% 40% 20% ;
        z-index: 9;
    
    }
    
    .Back{
        width: 40px;
        height: 160px;
        text-decoration: none;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        line-height: 35px;
        font-size: 30px;
    
        background-color: rgb(255, 255, 255);
        color: black;
        position: relative;
        justify-self: center;
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 10;
        grid-row: 2;
    }
    
    .Switch{
        width: 40px;
        height: 220px;
        text-decoration: none;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        line-height: 35px;
        font-size: 30px;
    
        background-color: rgb(255, 255, 255);
        color: black;
        position: relative;
        justify-self: center;
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 10;
        grid-row: 3; 
    }
    
    .Next{
        width: 40px;
        height: 160px;
        text-decoration: none;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        line-height: 35px;
        font-size: 30px;
    
        background-color: rgb(255, 255, 255);
        color: black;
        position: relative;
        justify-self: center;
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 10; 
        grid-row: 4;
    }
    .circle{
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      background-color: rgb(246, 233, 255);
      position: absolute;
      top: 10%;
      left: 80%;
      z-index: 10;
      animation: moveCircle 8s infinite linear , changeColor 6s infinite alternate;
    }
    @keyframes moveCircle {
      0% { top: 3%; left: 30%; }
      25% {top:3%; left:40%}
      50% {top:13%; left:30%}
      75% {top:13%; left:40%}
      100% { top: 3%; left: 30%; }
    }
    @keyframes changeColor {
      0% { background-color:  #ebe2ff; } /* Start color */
      50% { background-color:  black; } /* Change to white */
      100% { background-color:  #ebe2ff; } /* Change back to black */
  }
    .circle1{
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      background-color: rgb(246, 233, 255);
      position: absolute;
      top: 10%;
      left: 90%;
      z-index: 10;
      animation: moveCircle1 8s infinite linear  , changeColor 5s infinite alternate;
    }
    @keyframes moveCircle1 {
      0% { top: 10%; left: 90%; }
      25% {top:20%; left:80%}
      50% {top:20%; left:90%}
      75% {top:20%; left:90%}
      100% { top: 10%; left: 90%; }
    }
    .circle2{
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      background-color: rgb(246, 233, 255);
      position: absolute;
      top: 50%;
      left: 30%;
      z-index: 10;
      animation: moveCircle2 8s infinite linear ,changeColor 7s infinite alternate;
    }
    @keyframes moveCircle2 {
      0% { top: 50%; left: 30%; }
      25% {top: 40%; left: 20%;}
      50% {top: 30%; left: 30%;}
      75% {top: 40%; left: 20%;}
      100% { top: 50%; left: 30%; }
    }
    .circle3{
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      background-color: rgb(246, 233, 255);
      position: absolute;
      top: 68%;
      left: 4%;
      z-index: 10;
      animation: moveCircle3 10s infinite linear , changeColor 6s infinite alternate;
    }
    @keyframes moveCircle3 {
      0% { top: 68%; left: 4%; }
      25% {top: 78%; left: 14%;}
      50% {top: 88%; left: 4%;}
      75% {top: 78%; left: 14%;}
      100% { top: 68%; left: 4%; }
    }
    .circle4{
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      background-color: rgb(246, 233, 255);
      position: absolute;
      top: 80%;
      left: 80%;
      z-index: 10;
      animation: moveCircle4 10s infinite linear , changeColor 5s infinite alternate;
    }
    @keyframes moveCircle4 {
      0% { top: 80%; left: 80%; }
      25% {top: 80%; left: 70%;}
      50% {top: 70%; left: 60%;}
      75% {top: 80%; left: 70%;}
      100% { top: 80%; left: 80%; }
    }
    .circle5{
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      background-color: rgb(246, 233, 255);
      position: absolute;
      top: 30%;
      left: 45%;
      z-index: 10;
      animation: moveCircle5 10s infinite linear , changeColor 6s infinite alternate;
    }
    @keyframes moveCircle5 {
      0% { top: 30%; left: 45%; }
      25% {top: 40%; left: 55%;}
      50% {top: 50%; left: 65%;}
      75% {top: 40%; left: 55%;}
      100% { top: 30%; left: 45%; }
    }
    .circle6{
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      background-color: rgb(246, 233, 255);
      position: absolute;
      top: 50%;
      left: 90%;
      z-index: 10;
      animation: moveCircle6 10s infinite linear , changeColor 4s infinite alternate;
    }
    @keyframes moveCircle6 {
      0% { top: 50%; left: 90%; }
      25% {top: 60%; left: 80%;}
      50% {top: 70%; left: 90%;}
      75% {top: 60%; left: 90%;}
      100% { top: 50%; left: 90%; }
    }
    .circle7{
      width: 30px;
      height: 30px;
      border-radius: 1000px;
      background-color: rgb(246, 233, 255);
      position: absolute;
      top: 80%;
      left: 4%;
      z-index: 10;
      animation: moveCircle7 10s infinite linear , changeColor 5s infinite alternate;
    }
    @keyframes moveCircle7 {
      0% { top: 80%; left: 4%; }
      25% {top: 70%; left: 14%;}
      50% {top: 60%; left: 24%;}
      75% {top: 70%; left: 14%;}
      100% { top: 80%; left: 4%; }
    }
    